// 단위1 = 0.25rem
#main-footer {
  background-color: #f7f70aee;
  color: black;
  font-weight: bold;
}

#page-header {
  height: 200px;
  background: url('../assets/img/who-du-nelson-8eTndV6LnP4-unsplash.jpg');
  background-position: 54% 75%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
